repos:
  - repo: local
    hooks:
      - id: jpg-to-webp
        name: Convert JPG to WebP
        entry: scripts/image-to-webp.sh
        language: script
        # Only trigger on jpg/jpeg files
        files: \.(png|jpg|jpeg|JPG|JPEG)$
        # Pass the filenames to the script
        pass_filenames: true
      - id: check-date-match
        name: Sync Filename Date and Metadata
        entry: python3 scripts/check-dates.py
        language: python
        # Only run on markdown files
        files: \.md$
        pass_filenames: true
      - id: update-image-ext
        name: Update Markdown JPG refs to WebP
        entry: python3 scripts/extensions-jpg-to-webp.py
        language: python
        files: ^content/.*\.md$
        pass_filenames: true

  - repo: https://github.com/lycheeverse/lychee
    rev: lychee-v0.18.1
    hooks:
      - id: lychee
        name: Check links with Lychee
        args:
          - --offline
          - --no-progress
          - --include-fragments
          - --root-dir=.
          - --fallback-extensions=md,html,_index.md
          - "--remap=/assets/(.*) /static/assets/$1"
          - "--remap=/images/(.*) /static/images/$1"
          - "--remap=/videos/(.*) /static/videos/$1"
          - "--remap=/audios/(.*) /static/audios/$1"
          - "content/"
        files: ^content/.*\.(md|html)$

