{%- assign post = include.post | default: page -%}
{%- assign author_key = post.author | default: "default" -%}
{%- assign profile = site.data.authors[author_key] | default: site.data.authors.default -%}


<div class="post-card-container">
  <article class="post-card">
      <div class="post-card-sidebar {{ profile.profile_class }}">

        
        <img class="avatar" src="{{ profile.avatar }}" alt="{{ profile.name }}"></img>

        <div class="post-card-content">
          <header class="post-card-sidebar-header">
              <h3 class="post-category">
                {% if post.categories %}
                  <a href="{{ site.url }}/tags/{{ post.categories | first | slugify }}">{{ post.categories | first }}</a>
                {% else %}
                  <span class="no-category">Sin categoría</span>
                {% endif %}
              </h3>
          </header>

          <small class="post-meta">
            Por {{ profile.name }} • {{ post.date | date: "%d %b %Y" }}
          </small>

          <div class="post-metadata">
              {% if post.tags and post.tags.size > 0 %}
              <div class="post-tags">
                <strong>Etiquetas:</strong>
                {% for tag in post.tags %}
                <a href="{{ site.url }}/tags/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
              </div>
              {% endif %}
          </div>
        </div>
    </div>
    <div class="main-content">
      
      <header class="post-header {{ profile.profile_class }}">

          <h1 class="post-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>

          </h1>
      </header>

      {% if include.full %}
        {{ post.content }}
      {% else %}
        {{ post.excerpt }}
        {% unless post.excerpt == post.content %}
          <p class="read-more">
            <a href="{{ post.url | relative_url }}">Leer más&nbsp;→</a>
          </p>
        {% endunless %}
      {% endif %}
    </div>
  </article>
</div>