:root {
  /* —— brand palette —— */
  --brand-red-500: #e53935;
  --brand-blue-500: #1e88e5;
  --brand-green-500: #43a047;

  /* —— grayscale —— */
  --gray-900: #121212;
  --gray-100: #f5f5f5;

  --telegram: #122131;
  --site-background-color: #000F1D;
  --content-separator-color: #000F1D;
  --tg-link-color: #357999;
  --tg-link-color-visited: #F45F8B;

}

:root {
  --content-box:       var(--telegram);
  --content-separator: var(--content-separator-color);
  --site-background:  var(--site-background-color);
  --text-color:        white;
  --banner-text-color:  white;
  --link-color-basic:        var(--tg-link-color);
  --link-color-visited:     var(--tg-link-color-visited);
  --background-color:  var(--gray-100);
  --primary-color:     var(--brand-blue-500);
  --danger-color:      var(--brand-red-500);
  --success-color:     var(--brand-green-500);
}