.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, navy, royalblue);
    color: white;
    padding: 15px 20px;
}

.navbar .logo {
    font-size: 1.8em;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    /* Punkte entfernen */
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: gold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    margin: 0 15px;
    list-style: none;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
}

#searchform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#search-input {
  width: 100%;
  padding: 8px 32px 8px 8px;
  border: none;
  border-bottom: 2px solid #007acc;
  font-size: 16px;
  color: white;
  background: transparent;
  outline: none;
  transition: border-color 0.3s ease;
  display: inline-flex;
}


#search-input:focus {
  border-bottom-color: #005ea2;
}

/* Style for the results container */
#searchresults {
  max-width: var(--home-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Individual result items */
#searchresults li {
  background-color: transparent;
  margin-bottom: 8px;
  border-radius: 12px;
  padding: 10px 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  color: white;
}

/* Hover effect on results */
#searchresults li:hover {
  background-color: grey;
  transform: translateY(-2px);
}