.post-header {
  display: flex;
 
  flex-direction: column;
  gap: var(--post-header-gap);
  padding: 0 0;

  &.profile--c   { color:#fff; border-color:#1976d2; }
  &.profile--j  { color:#311b92; border-color:#ad1457; }
  &.profile--u   { color:#fff; border-color:#1976d2; }
  &.profile--default{ color:#263238; border-color:#90a4ae; }
}


.post-card-sidebar {
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--content-box);
    border-bottom: 4px dashed var(--content-separator);
    color: white;
    border-right: var(--content-box) ridge 4px;

    &.profile--c   { 
        background: #670e14; 
        box-shadow: var(--sidebar-shadow-position) 0px 5px #2e061d;
    }
    &.profile--j  { 
        background: #062e17; 
        box-shadow: var(--sidebar-shadow-position) 0px 5px #062e17;
    }
    &.profile--u   { 
        background: #bd8717; 
        box-shadow: var(--sidebar-shadow-position) 0px 5px #2e2b06;
    }
    &.profile--default{ 
        background: #263238; 
        box-shadow: var(--sidebar-shadow-position) 0px 5px #263238;
    }

}

@media screen and (max-width: 768px) {
    .post-card-sidebar {
        flex-direction: row;
        justify-content: center;
        box-shadow: none;
        border-radius: var(--content-border-radius);
        padding: 0 var(--content-container-left-padding) 0 var(--content-container-right-padding);
        border-right: none;
        gap: calc(var(--content-padding)/2)
    }
}



.avatar { 
    width:var(--avatar-size);
    height:var(--avatar-size);
    border-radius:10%;
    object-fit:fill; 
    margin-top: calc((var(--sidebar-width) - var(--avatar-size))/2);
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .avatar {
        margin: calc(var(--content-padding)/2);
        justify-self: flex-start;
    }
}


.post-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.post-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: stretch;
}


@media screen and (max-width: 768px) {
    .post-card-content {
        padding: 0 0 var(--content-padding) 0;
    }
    
    
}



.post-card {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 0;
}

@media screen and (max-width: 768px) {
    .post-card {
        flex-direction: column;
        align-items: center;
    }
    
    
}


.post-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--content-box);
    padding: var(--content-padding) 0 0 0;
    box-shadow: -4px 0 10px -6px rgba(14, 198, 211, 0.4),
                4px 0 10px -6px rgba(14, 198, 211, 0.4);
}

.previous-post, .next-post {
    align-self: center;
    width: var(--home-width);
    background: var(--content-box);
    color: var(--text-color);
    padding: 0 var(--content-padding) var(--content-padding) var(--content-padding);
    /* border-radius: 10px; */
    margin: 0% 2%;

}