{{ define "main" }}
  {{ $paginator := .Paginate .Pages }}

  <div class="w-100 w-70-ns center">
    {{ if gt $paginator.TotalNumberOfElements 0 }}
      {{ if and (eq $paginator.PageNumber 1) .Content }}
        <section class="list-intro w-100 mw8 center mb4 ph3 ph4-ns f4 tc lh-copy nested-links {{ $.Param "text_color" | compare.Default "white" }}">
          {{- .Content -}}
        </section>
      {{ end }}

      {{/* Pagination */}}
      <div class="list-pagination-top flex justify-center">
        {{ template "_internal/pagination.html" . }}
      </div>

      <section class="w-100 mw8 center">
        {{ range $paginator.Pages }}
          {{ .Render "summary-with-image" }}
        {{ end }}
      </section>

      {{/* Pagination */}}
      <div class="flex justify-center">
        {{ template "_internal/pagination.html" . }}
      </div>
    {{ else }}
      <p class="tc white-80">No hay contenido en esta sección.</p>
    {{ end }}
    
  </div>
{{ end }}
