/* assets/css/custom.css */

/* Your custom Dark Theme colors */
body {
  background-color: #000F1D; 
  color: white;
}

/* Your custom Sidebar/Card color */
.bg-custom-card {
  background-color: #122131;
}

/* Link overrides */
a {
  color: #357999;
}