{{- $context := .Context -}}
{{- $isSingle := .IsSingle | default false -}}
{{- $defaultImg := "images/authors/default.webp" | absURL -}}
{{- $defaultAuthor := $context.Site.Params.author.slug | default $context.Site.Params.author.name -}}
{{- $authorParam := $context.Params.author | default $defaultAuthor -}}
{{- $authorSlugs := slice -}}
{{- if reflect.IsSlice $authorParam -}}
  {{- $authorSlugs = $authorParam -}}
{{- else -}}
  {{- $authorSlugs = slice $authorParam -}}
{{- end -}}
{{- $authors := slice -}}
{{- range $authorSlugs -}}
  {{- $authorPage := site.GetPage (printf "author/%s" .) -}}
  {{- $authors = $authors | append (dict
    "slug" .
    "title" (cond $authorPage $authorPage.Title .)
    "url" (cond $authorPage $authorPage.RelPermalink (printf "/author/%s/" .))
    "image" (cond $authorPage ($authorPage.Params.image | default $defaultImg) $defaultImg)
    "slogan" (cond $authorPage $authorPage.Params.slogan "")
  ) -}}
{{- end -}}
{{- $hasMultipleAuthors := gt (len $authors) 1 -}}
{{- $primaryAuthor := index $authors 0 -}}

<article class="mb2{{ if $isSingle }} w-100{{ end }}">
  <div class="flex flex-column flex-row-ns bg-custom-card br3 shadow-4 pa3 pa4-ns">
    
    {{/* --- Author Meta (Left) --- */}}
    <div class="w-100 w-20-ns mr3-ns mb3 mb0-ns flex flex-column items-center tc">
      
      {{/* 1. Author avatars */}}
      <div class="flex flex-wrap justify-center items-center mb2">
        {{ range $authors }}
          <a href="{{ .url }}" class="db grow mh1 mb2">
            <img
              src="{{ .image }}"
              onerror='this.onerror=null;this.src="{{ $defaultImg }}";'
              class="br0 h4 br3 w4 object-fill"
              alt="{{ .title }}"
              data-pagefind-meta="image[author]">
          </a>
        {{ end }}
      </div>

      {{/* 2. Author names */}}
      <div class="f4 fw6 mv2 white lh-title">
        {{ range $index, $author := $authors }}
          {{ if gt $index 0 }}
            <span class="white-60"> · </span>
          {{ end }}
          <a href="{{ $author.url }}" class="link white dim">
            {{ $author.title }}
          </a>
        {{ end }}
      </div>

      {{/* 3. Slogan only for single-author posts */}}
      {{ with and (not $hasMultipleAuthors) $primaryAuthor.slogan }}
        <p class="f6 silver lh-copy measure center mv2 i">
          {{ . }}
        </p>
      {{ end }}
      
      {{/* 4. Date */}}
      <div class="f7 silver mb3">
        {{ $context.Date.Format "Jan 2, 2006" }}
      </div>

      {{/* 5. Tags */}}
      {{ with $context.Params.tags }}
        <div class="mt2 flex flex-wrap justify-center">
          {{ range . }}
            {{ $tagPage := site.GetPage (printf "tags/%s" .) }}
            <a href="{{ cond $tagPage $tagPage.RelPermalink (printf "%s%s" ("/tags/" | relLangURL) (. | urlize)) }}" class="f7 link white-80 bg-white-10 br2 ph2 pv1 mb1 mr1 dim">
              #{{ . }}
            </a>
          {{ end }}
        </div>
      {{ end }}
      
    </div>

    {{/* --- CONTENT (Right) --- */}}
    <div class="w-100 w-80-ns pl3-ns bl-ns b--white-10">
      
      {{/* Title */}}
      <h1 class="f3 fw6 mt0 lh-title">
        <a href="{{ $context.RelPermalink }}" class="color-inherit dim link white" data-pagefind-meta="title">
          {{ $context.Title }}
        </a>
      </h1>

      {{/* Full Content */}}
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $context.Param "text_color" | compare.Default "white" }} mb3">
        {{ $context.Content }}
      </div>

      {{/* Recommendations (Single Post Only) */}}
      {{ if $isSingle }}
        <div class="mt4 pt3 bt b--white-10">
          {{ $section := where $context.Site.RegularPages "Section" $context.Section }}
          
          <h1 class="f5 fw6 ttu tracked silver mb3">{{ i18n "more" | default "More Posts" }}</h1>
          
          <ul class="list pl0">
            {{/* Range through the first 5 posts in this section */}}
            {{ range first 5 $section }}
              {{/* Exclude the current post from the list */}}
              {{ if ne .Permalink $context.Permalink }}
                <li class="mb3 pb2 bb b--white-10">
                  <a href="{{ .RelPermalink }}" class="link white dim f6 lh-title">
                    {{ .Title }}
                  </a>
                </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      {{ end }}
      
    </div>

  </div>
</article>
