{{/* 1. Determine the Profile Class (default, c, j, u) */}}
{{ $profileType := .Params.profile_type | default "default" }}
{{ $bgClass := printf "bg-profile-%s" $profileType }}

{{- $defaultImg := "images/authors/default.webp" | absURL -}}
{{- $authorParam := .Params.author | default .Site.Params.author -}}
{{- $authorSlugs := slice -}}
{{- if reflect.IsSlice $authorParam -}}
  {{- $authorSlugs = $authorParam -}}
{{- else -}}
  {{- $authorSlugs = slice $authorParam -}}
{{- end -}}
{{- $authors := slice -}}
{{- range $authorSlugs -}}
  {{- $authorPage := site.GetPage (printf "author/%s" .) -}}
  {{- $authors = $authors | append (dict
    "slug" .
    "title" (cond $authorPage $authorPage.Title .)
    "url" (cond $authorPage $authorPage.RelPermalink (printf "/author/%s/" .))
    "image" (cond $authorPage ($authorPage.Params.image | default $defaultImg) $defaultImg)
    "slogan" (cond $authorPage $authorPage.Params.slogan "")
  ) -}}
{{- end -}}
{{- $hasMultipleAuthors := gt (len $authors) 1 -}}
{{- $primaryAuthor := index $authors 0 -}}

<aside class="w-100 w-20-l mb4 mb0-l">
  
  <div class="{{ $bgClass }} pa3 br3 white tc mb3">
    
    <div class="flex flex-wrap justify-center items-center mb3">
      {{ range $authors }}
        <a href="{{ .url }}" class="db grow mh1 mb2">
          <img
            src="{{ .image }}"
            onerror='this.onerror=null;this.src="{{ $defaultImg }}";'
            class="sidebar-avatar br0"
            alt="{{ .title }}">
        </a>
      {{ end }}
    </div>

    {{/* Author Name */}}
    <div class="f4 fw6 mv2 lh-title">
      {{ range $index, $author := $authors }}
        {{ if gt $index 0 }}
          <span class="white-60"> · </span>
        {{ end }}
        <a href="{{ $author.url }}" class="link white dim">
          {{ $author.title }}
        </a>
      {{ end }}
    </div>
    
    {{ with and (not $hasMultipleAuthors) $primaryAuthor.slogan }}
      <p class="f6 silver lh-copy measure center">
        {{ . }}
      </p>
    {{ end }}

          {{/* 2. Categories */}}
      {{ with .Params.categories }}
        <div class="mt3 f7 ttu tracked silver">
          {{ range . }}
            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="link silver dim db mb2">
              {{ . }}
            </a>
          {{ end }}
        </div>
      {{ end }}

      {{/* 3. Tags */}}
      {{ with .Params.tags }}
        <div class="mt2 flex flex-wrap justify-center">
          {{ range . }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="f7 link white-80 bg-white-10 br2 ph2 pv1 mb1 mr1 dim">
              #{{ . }}
            </a>
          {{ end }}
        </div>
      {{ end }}
      
  </div>


  {{/* We wrap your snippet in a card style */}}
  <div class="bg-custom-card pa3 br3 white shadow-4">
    
    {{/* Logic to get related posts in the same section */}}
    {{ $section := where .Site.RegularPages "Section" .Section }}
    
    <h1 class="f5 fw6 ttu tracked silver mb3">{{ i18n "more" | default "More Posts" }}</h1>
    
    <ul class="list pl0">
      {{/* Range through the first 5 posts in this section */}}
      {{ range first 5 $section }}
        {{/* Exclude the current post from the list */}}
        {{ if ne .Permalink $.Permalink }}
          <li class="mb3 pb2 bb b--white-10">
            <a href="{{ .RelPermalink }}" class="link white dim f6 lh-title">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>

  </div>
</aside>
