<nav class="pv3 ph3 ph4-ns site-navigation" role="navigation">
  <div class="site-navigation-inner center">
    <a href="{{ .Site.Home.RelPermalink }}" class="site-navigation-title f3 fw2 hover-white white-90 dib no-underline">
      {{ with .Site.Params.site_logo }}
        <img src="{{ urls.RelURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>

    {{ if .Site.Menus.main }}
      <ul class="site-navigation-menu tc ma0 pa0">
        {{ range .Site.Menus.main }}
        <li class="list f5 f4-ns fw4 dib ph3">
          <a class="hover-white white-90 no-underline" href="{{ .URL }}" title="{{ lang.Translate "pageTitle" . }}">
            {{- $label := .Name -}}
            {{- with .Page -}}
              {{- with .Params.emoji -}}
                {{- $label = . -}}
              {{- end -}}
            {{- end -}}
            {{ $label }}
          </a>
        </li>
        {{ end }}
      </ul>
    {{ end }}

    <div class="site-navigation-social">
      {{ partials.Include "i18nlist.html" . }}
      {{ partials.IncludeCached "social/follow.html" . }}
    </div>
  </div>
</nav>
