<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  </div>
  {% include header.html %}  <!-- This inserts the header into the post layout -->

  <main>



<h1>{{ page.title }}</h1>

<div id="home" class="section">
    <div id="home" class="main-content">
        <div style="font-size: 1.5em;">
            {{ content }}
    </div>
</div>



{% for post in site.posts %}
    {% if post.tags contains page.tag or post.categories contains page.category or post.author == page.author or post.tags contains page.author %}
        {% include post-card.html post=post full=false %}
    {% endif %}
{% endfor %}


<p><a href="/tags/">← Back to all tags & categories</a></p>

</main>

    {% include footer.html %}  <!-- Inserts the footer from _includes -->

</body>
</html>
