<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  </div>
  {% include header.html %}  <!-- This inserts the header into the post layout -->

  <main>



<h1>{{ page.title }}</h1>

<div class="section">
    <div class="main-content">
        <div style="font-size: 1.5em;">
            {{ content }}
    </div>
</div>



{% for post in site.posts %}
{% if post.tags contains page.tag or post.categories contains page.category %}
<div class="section">
    <div class="main-content">
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <small>{{ post.date | date: "%B %d, %Y" }}</small>
        {{ post.excerpt }}
    </div>
</div>
{% endif %}
{% endfor %}


<p><a href="/tags/">← Back to all tags & categories</a></p>

</main>

    {% include footer.html %}  <!-- Inserts the footer from _includes -->

</body>
</html>
