<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cumstadística</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    {% include header.html %}
    <!-- Sección Inicio -->
    <section id="home" class="section">
        <div class="main-content">
            <h1>Bienvenido a Cumstadística</h1>
            <p>La estadística no es solo números, es poder. Aquí exploramos los datos y los transformamos en información útil para el análisis y la toma de decisiones.</p>
            <img src="CUMSTAT.jpg" alt="CUMSTAT Image">
        </div>
        <div class="main-content">
            <h2>Estás más perdido que un ciego en un tiroteo?</h2>
            <h3>Por aquí puedes empezar</h3>
            <div class="button-list">
                <a class="tag-button" href="/acercade/">Acerca de</a>
                <a class="tag-button" href="/tags/">Explora por etiquetas</a>
            </div>
        </div>


        {% for post in site.posts %}

        <div class="main-content">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p>{{ post.content }}</p>
        </div>
        {% endfor %}
    </section>


    <!-- Pie de página -->
    {% include footer.html %}

</body>
</html>