<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  </div>
  {% include header.html %}  <!-- This inserts the header into the post layout -->

  <main>
    {% include post-card.html post=page full=true %}
    
    <div class="section">
      <div class="post-navigation">

        {% if page.previous %}
        <div class="previous-post">
            <a href="{{ page.previous.url }}" class="last-post">
              Anterior: {{ page.previous.title }}
            </a>
        </div>
        {% endif %}

        {% if page.next %}
        <div class="next-post">
            <a href="{{ page.next.url }}" class="next-post">
              Siguiente: {{ page.next.title }}
            </a>
        </div>
        {% endif %}
      </div>
    </div>



  </main>

  {% include footer.html %}  <!-- Inserts the footer from _includes -->

</body>
</html>
